
//Theme Black
$theme-black: #388e3c;
$theme-black-legal-bg: #fafafa;
$theme-black-bar: #fafafa;
$theme-black-navbar-brand: #fafafa;
$theme-black-navbar-brand_active: #fafafa;
$theme-black-navbar-brand_hover: #fafafa;
$theme-black-navbar-brand_focus: #fafafa;
$theme-black-nav-anchor: #fafafa;
$theme-black-nav-anchor_hover: rgba(0,0,0,0);
$theme-black-nav-anchor_focus: rgba(0,0,0,0);
$theme-black-nav-anchor-opened: rgba(0,0,0,0);
$theme-black-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-black-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-black-menu-list-active: rgba(0,0,0,0);
$theme-black-menu-list-toggled: rgba(0,0,0,0);
$theme-black-menu-list-submenu: rgba(0,0,0,0);